/* Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: scroll;
  bottom: 0;
  left: 0; /* Set left to 0 to ensure it covers the whole width */
  padding-right: 10px;
  margin-right: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Add margin at the bottom to separate from the products */
}
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  